# Include package metadata
include README.md
include LICENSE
include setup.py
include requirements.txt

# Include steam_ui package files
recursive-include steam_ui/templates *.html
recursive-include steam_ui/static *.css *.js *.svg *.png *.jpg

# Exclude unnecessary files
exclude .gitignore
exclude .env
exclude .env.example
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
exclude music/*
exclude media/*
exclude db.sqlite3
